---
import Layout from '@layouts/index.astro';
import { Album as AlbumCover } from '@components/album';
import getAlbums, { type Album } from '@pages/api/getAlbums';
import { readableStreamToJSON } from 'bun';

const response = await getAlbums(Astro);
const stream = response.body;
const albums = (await readableStreamToJSON(
    stream as ReadableStream
)) as Array<Album>;
---

<Layout title="Aditya Banerjee - About">
    <div class="flex flex-col w-full h-full items-center justify-center">
        <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 w-full px-[12.5%] max-h-[57.5vh] overflow-y-auto"
        >
            {
                albums?.map((album: Album) => {
                    const {
                        name,
                        external_urls,
                        images,
                        release_date,
                        tracks
                    } = album;
                    return (
                        <>
                            <AlbumCover
                                client:only="react"
                                name={name}
                                external_urls={external_urls}
                                release_date={release_date}
                                images={images}
                                tracks={tracks}
                            />
                        </>
                    );
                })
            }
        </div>
    </div>
</Layout>
